#photosBlock {
	display: inline-block;
	margin-bottom: 12px;
	overflow: hidden;
}

#photosBlock img {
	max-width: 100%;
	border-radius: 8px;
}

@media (min-width: 1024px) {
	.bigAssContainer {
		margin-left: 300px;
	}
	#menuBlock {
		width: 300px;
		height: 100%;
		line-height: 40px;
		font-size: 1.8em;
	}
	#contentBlock {
		width: 83%;
	}
	#photosBlock {
		width: 15%;
		margin-left: 1%;
	}
	.textBlock {
		margin-left: 2%;
	}
	.caPart {
		width: 500px;
		font-size: 2em;
		padding: 8px 12px 12px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.bigAssContainer {
		margin-left: 200px;
	}
	#menuBlock {
		width: 200px;
		height: 100%;
		line-height: 30px;
		font-size: 1.4em;
	}
	#contentBlock {
		width: 83%;
	}
	#photosBlock {
		width: 15%;
		margin-left: 1%;
	}
	.textBlock {
		margin-left: 2%;
	}
	.caPart {
		width: 300px;
		font-size: 1.6em;
		padding: 12px 0;
	}
}

@media (max-width: 768px) {
	.bigAssContainer {
		width: 100%;
		margin-top: 120px;
	}
	#menuBlock {
		width: 100%;
		min-height: 60px;
		line-height: 30px;
		font-size: 1em;
		text-align: center;
		background: none #ed145b;
	}
	#menuBlock div {
		display: inline-block;
		border-radius: 4px;
		border-right: none !important;
		width: 130px;
		height: 30px;
		padding: 8px 0;
		margin: 8px 2px 8px;
	}
	#contentBlock {
		width: 100%;
	}
	#photosBlock {
		width: 0%;
		margin-left: 1%;
	}
	.textBlock {
		margin-left: 2%;
	}
	.caPart {
		width: 70%;
		font-size: 1.2em;
		padding: 6px 2px;
	}
}