#photosBlock {
	display: inline-block;
	position: absolute;
	right: 20px;
	height: 100%;
}

@media (min-width: 1500px) {
	#photosBlock {
		width: 300px;
	}

	.photo {
		height: 300px;
	}
}

@media (max-width: 1500px) and (min-width: 1000px) {
	#photosBlock {
		width: 200px;
	}

	.photo {
		height: 200px;
	}
}

@media (max-width: 1000px) {
	#photosBlock {
		width: 10%;
	}

	.photo {
		height: 10%;
	}
}

.photo {
	background: no-repeat;
	width: 100%;
	margin-bottom: 8px;
	border-radius: 4px;
}

.photo1 { background-image: url(../images/photo1.png); }
.photo2 { background-image: url(../images/photo2.png); }
.photo3 { background-image: url(../images/photo3.png); }
.photo4 { background-image: url(../images/photo4.png); }
.photo5 { background-image: url(../images/photo5.png); }
.photo6 { background-image: url(../images/photo6.png); }
.photo7 { background-image: url(../images/photo7.png); }
.photo8 { background-image: url(../images/photo8.png); }
.photo9 { background-image: url(../images/photo9.png); }
.photo10 { background-image: url(../images/photo10.png); }
.photo11 { background-image: url(../images/photo11.png); }
.photo12 { background-image: url(../images/photo12.png); }
.photo13 { background-image: url(../images/photo13.png); }
.photo14 { background-image: url(../images/photo14.png); }
.photo15 { background-image: url(../images/photo15.png); }
.photo16 { background-image: url(../images/photo16.png); }
.photo17 { background-image: url(../images/photo17.png); }