.etoile-div {
	margin-left: 8% !important;
}

.etoile-div > div {
	display: inline-block;
}

.etoile-div h3 {
	color: #ecdecd;
}

.etoile-info {
	margin-left: 24px;
	vertical-align: middle;
	max-width: 50%;
}

.etoile {
	display: inline-block;
	height: 88px;
}

@media (min-width: 500px) {
	.etoile-div {
		height: 220px;
	}
	.etoile img {
		float: left;
	}
	.etoile-info {
		display: inline-block;
	}
}

@media (max-width: 500px) {
	.etoile-div {
		max-width: 320px;
		margin-bottom: 51px;
	}
	.etoile img {
		clear: both;
	}
	.etoile-info {
		display: block;
	}
}