body {
	font-size: 1em;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	background-color: #03042b;
	background-image: url(../images/background.png);
	color: #ecdecd;
	text-align: justify;
}

h1 {
	font-family: 'Lemon', Arial, sans-serif;
	color: #ed145b;
	font-size: 2.4em;
}

h2, h3, h4, h5 {
	font-family: 'Aclonica', Arial, sans-serif;
	color: #ed145b;
}

a {
	color: #ed145b;
}

.bigAssContainer {
	background: url(../images/background.png);
}

.container {
	text-align: center;
}

#menuBlock {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	background: url(../images/pattern_small.png);
}

#menuBlock div {
	color: #ecdecd;
	background-color: #03042b;
	background-image: url(../images/background.png);
	margin: 12px 0;
	padding: 16px 8px;
	cursor: pointer;
	font-family: 'Aclonica', Arial, sans-serif;
}

#menuBlock div:hover {
	color: orange;
	border-right: 8px solid orange;
}

#menuBlock div.active {
	color: #ed145b;
	border-right: 8px solid #ed145b;
}

#menuBlock .sublink {
	opacity: 0.85;
	background-color: #181947;
	margin: 4px 0;
	padding: 16px 32px;
}

#menuBlock .sublink:hover, #menuBlock .sublink.active {
	opacity: 1;
}

#contentBlock {
	display: inline-block;
	width: 83%;
	vertical-align: top;
}

.textBlock {
	border-radius: 8px;
	padding: 8px;
	text-align: justify;
	margin-left: 2%;
}

.textBlock h3 {
	text-align: left;
}

.caPart {
	font-weight: 700;
	text-align: center;
	background-color: #ed145b;
	color: #03042b;
	margin: auto;
	cursor: pointer;
	border-radius: 8px;
}

.caPart {
    background-color: orange;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;
}

.caPart:hover {
    background-color: #ed145b;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;
}

.important {
	color: orange;
	font-weight: 600;
}

.file {
	text-align: center;
}

.newsDate {
	color: orange;
	font-style: italic;
}

.whirly {
	margin-top: 100px !important;
}