body {
	font-size: 1em;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	background-color: #03042b;
	color: #ecdecd;
	text-align: justify;
}

h1 {
	font-family: 'Lemon', Arial, sans-serif;
	color: #ed145b;
	font-size: 2.4em;
}

h2, h3, h4, h5 {
	font-family: 'Aclonica', Arial, sans-serif;
	color: #ed145b;
}

a {
	color: #ed145b;
}

.container {
	text-align: center;
}

#menuBlock {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 300px;
	background: url(../images/pattern_small.png);
}

#menuBlock div {
	background-color: #03042b;
	color: #ecdecd;
	margin: 12px 0;
	padding: 16px 8px;
	cursor: pointer;
	font-family: 'Aclonica', Arial, sans-serif;
	font-size: 1.8em;
	line-height: 40px;
}

#menuBlock div:hover {
	color: #ec8ec8;
	border-right: 8px solid #ec8ec8;
}

#menuBlock div.active {
	color: #ed145b;
	border-right: 8px solid #ed145b;
}

#contentBlock {
	position: absolute;
	left: 300px;
	width: 60%;
}

.textBlock {
	border-radius: 8px;
	padding: 8px;
	text-align: justify;
	margin-left: 69px;
}

.caPart {
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	background-color: #ed145b;
	color: #03042b;
	width: 500px;
	margin: auto;
	padding: 8px 12px 12px;
	border-radius: 8px;
}

.caPart {
    background-color: #ecdecd;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.caPart:hover {
    background-color: #ed145b;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#photosBlock {
	display: inline-block;
	position: absolute;
	right: 0;
	height: 100%;
	width: 20%;
}

.photo {
	background: no-repeat;
	height: 300px;
	width: 100%;
	margin-bottom: 8px;
	border-radius: 4px;
}

.photo1 { background-image: url(../images/photo1.png); }
.photo2 { background-image: url(../images/photo2.png); }
.photo3 { background-image: url(../images/photo3.png); }
.photo4 { background-image: url(../images/photo4.png); }
.photo5 { background-image: url(../images/photo5.png); }
.photo6 { background-image: url(../images/photo6.png); }
.photo7 { background-image: url(../images/photo7.png); }
.photo8 { background-image: url(../images/photo8.png); }
.photo9 { background-image: url(../images/photo9.png); }
.photo10 { background-image: url(../images/photo10.png); }
.photo11 { background-image: url(../images/photo11.png); }
.photo12 { background-image: url(../images/photo12.png); }
.photo13 { background-image: url(../images/photo13.png); }
.photo14 { background-image: url(../images/photo14.png); }
.photo15 { background-image: url(../images/photo15.png); }
.photo16 { background-image: url(../images/photo16.png); }
.photo17 { background-image: url(../images/photo17.png); }