<div class="container">
	<h1>La Fanfrale et ses petits</h1>

	<div class="whirly" ng-hide="fanfares.length > 0"></div>

	<div class="textBlock etoile-div" ng-repeat="fanfare in fanfares | orderBy:'id'">
		<div class="etoile">
			<img ng-show="fanfare.photo != ''" src="../../../17/app/images/etoile/{{fanfare.shortName}}-small.png" />
			<img ng-show="fanfare.photo == ''" src="../../../17/app/images/etoile/default-small.png" />
		</div>
		<div class="etoile-info">
			<h3>{{ fanfare.longName }}</h3>
			<a ng-show="fanfare.url != ''" href="{{fanfare.url}}">Leur site</a>
			<p>{{ fanfare.description }}</p>
		</div>
	</div>
</div>