<div class="container">
	<h1>La fanfrale et ses petits</h1>
	<div class="textBlock etoile-div">
		<div class="etoile etoile-fanfrale"></div>
		<div class="etoile-info">
			<h3>La Fanfrale</h3>
			<a href="http://lafanfrale.fr">Leur site</a>
		</div>
	</div>

	<div class="textBlock etoile-div">
		<div class="etoile etoile-wc"></div>
		<div class="etoile-info">
			<h3>Les West Costars</h3>
			<a href="https://myspace.com/westcostars">Leur site</a>
		</div>
	</div>

	<div class="textBlock etoile-div">
		<div class="etoile etoile-sr"></div>
		<div class="etoile-info">
			<h3>Les Soubas Résille</h3>
			<a href="https://facebook.com/soubas.resille">Leur site</a>
		</div>
	</div>
</div>