<!doctype html>
<html>
	<head>
		<title>17 ans de la Fanfrale</title>
	    <link rel="stylesheet" type="text/css" href="../../../17/app/css/index.css" />
	    <link rel="stylesheet" type="text/css" href="../../../17/app/css/etoile.css" />
	    <link rel="stylesheet" type="text/css" href="../../../17/app/css/chatoyance.css" />
	    <link href='http://fonts.googleapis.com/css?family=Aclonica:400' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Lemon:400' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app="17App" ng-controller="MenuCtrl">
		<div id="menuBlock">
			<div ng-class="{ active: activeLink('what') }" ng-click="goToPage('what')">What what</a></div>
			<div ng-class="{ active: activeLink('news') }" ng-click="goToPage('news')">Les news</a></div>
			<div ng-class="{ active: activeLink('fanfrale') }" ng-click="goToPage('fanfrale')">La Fanfrale &#9733;</a></div>
			<div ng-class="{ active: activeLink('contact') }" ng-click="goToPage('contact')">Le contact</a></div>
		</div>
		<div id="contentBlock" ng-view=""></div>
		<div id="photosBlock">
			<div ng-repeat="num in randArray" class="photo photo{{num}}"></div>
		</div>

		<script src="../../../17/bower_components/jquery/dist/jquery.js"></script>
	    <script src="../../../17/bower_components/angular/angular.js"></script>
	    <script src="../../../17/bower_components/angular-route/angular-route.js"></script>
	    <script src="../../../17/bower_components/momentjs/moment.js"></script>
	    <script src="../../../17/bower_components/underscore/underscore.js"></script>

	    <script src="../../../17/bower_components/momentjs/lang/fr.js"></script>

	    <script type="text/javascript" src="../../../17/app/scripts/app.js"></script>
	    <script type="text/javascript" src="../../../17/app/scripts/what.js"></script>
	    <script type="text/javascript" src="../../../17/app/scripts/news.js"></script>
	    <script type="text/javascript" src="../../../17/app/scripts/menu.js"></script>
	    <script type="text/javascript" src="../../../17/app/scripts/contact.js"></script>
	</body>
</html>