<div class="container">
	<h1>Les news</h1>
	<div class="textBlock">
		<h3>Le programme</h3>
		<p>Ce qui est sûr :
			<ol>
				<li>Date : du jeudi 7 au soir au dimanche 10 Mai 2015 : SAVE THE DATE.</li>
				<li>Lieu : un ancien camp de vacances EDF méga grand à une heure de Nantes, où nous vous laisserons la possibilité de développer un humour sans contraintes ni limites.
				<li>On a beaucoup de pognon.</li>
				<li>La soirée du jeudi s'oriente vers un début de soirée à Centrale avec des officiels (Jean-Maaaaaaaarrrrrrrccccccc Guitar Ayrault avec un masque de Dark Vador) et l'administration de Centrale pour les remercier et tout le tintouin mondain, le but étant d'obtenir une subvention de la part de l'école pour développer le point 2. Après c'est direction bar et Race.</li>
				<li>Vendredi soir : soirée entre Fanfrale et fanfares étoiles de la Fanfrale. On se retrouve dans un bar et les fanfares affiliées joueront un set. Cette soirée sera ouverte au public. Les fanfares étoiles : Moustaches, WestCostars, Chapoum, Soubas Résilles, SOTT, Baraka, SDS, Canal Chips.</li>
				<li>Samedi matin : on décale pour le camp de vacances. Les fanfares invitées seront attendues pour le début d'aprem (jouage + animation + concours + repas = gros bonheur)</li>
				<li>Dimanche : This is the barre !</li>
			</ol>
		</p>
	</div>

	<div class="textBlock">
		<h3>C'est parti</h3>
		<p>Donnez-moi du texte à mettre ici</p>
		<p>C'est pour remplir, sinon ça fait moche</p>
	</div>
</div>