<div class="container">
	<h1>Les 17 ans de la Fanfrale</h1>
	<div class="caPart" ng-click="goToHorlogeParlante()">
		Ca part dans {{ ca_part }} minutes !!
	</div>

	<div class="textBlock">
		<h3>Bonjour à tous,</h3>
		<p>Comme tu le sais, la Fanfrale fêtera ses 17 ans l'année prochaine. Événement très attendu par bon nombre de fanfarons, il sera l'occasion de réunir un maximum de générations, de participer à un pèlerinage des lieux sacrés de Nantes (un petit tour de bateau ?), de montrer aux autres ce qu'on appelle la mongolie et surtout de célébrer en grandes pompes ce 17ème anniversaire.</p>
		<p>Ce site rassemble les informations utiles pour participer à cet anniversaire inoubliable. Si tu n'y trouves pas la réponse à ta question, n'hésite pas <a href="mailto:17ansfanfrale@gmail.com">à nous écrire</a>.</p>
	</div>

	<div class="textBlock">
		<h3>Où et quand ?</h3>
		<p>Les 17 ans auront lieu sur un week-end prolongé, du <span class="important">jeudi 7 mai 2015</span> au soir au <span class="important">dimanche 10 mai 2015</span> fin d'après-midi. L'objectif est de proposer un week-end mémorable à la fois pour les plus vieux, pour les jeunes et pour les autres fanfares. La première partie du week-end (jeudi et vendredi) se déroulera à Nantes même.
		<br/>Les événements du samedi et dimanche se dérouleront à l'extérieur de Nantes sur un grand terrain avec des installations en dur : <span class="important">le Clos de Soucelles</span>.</p>
	</div>

	<div class="textBlock">
		<h3 class="important">Comment puis-je participer ?</h3>
		<p>La Fanfrale t'a nourri(e), bercé(e) et aujourd'hui tu voudrais lui faire savoir ta gratitude, mais tu n'as pas beaucoup de temps à lui consacrer car tu dois te rendre à Aubenas. Ne t'en fais pas, nous avons pensé à toi : tu peux participer au financement de ce week-end inoubliable, et en profiter pour recevoir des goodies ! Choisis ton pack de mécène, fais un chèque de beaucoup d'argent et c'est parti !</p>
		<p class="file"><a class="important" href="https://www.lepotcommun.fr/pot/x1dxhbt8">Oui, je veux lèguer généreusement une somme généreuse pour les 17 ans de la Fanfrale !</a></p>

		<p class="file"><a href="../../../17/app/resources/packs.pdf" target="_blank" title="Packs de participation">Télécharge le descriptif des packs de participation</a></p>

		<p>Si tu as toujours rêvé d'avoir une flasque gravée à ton nom, de posséder une mallette, ou d'être accueilli(e) avec une bouteille de champagne et une pipe à l'anniversaire de la Fanfrale, n'hésite pas !</p>
	</div>

	<div id="daysDetail">
		<h3>Le programme</h3>
		<table>
			<tr>
				<td class="oneDay" id="jeudiClick" ng-class="{ active: showSub['jeudi'] }" ng-click="displaySubPage('jeudi')">Jeudi</td>

				<td rowspan="3" class="textBlock" ng-show="showSub['jeudi']" id="jeudi">
					<h3>Le jeudi</h3>
					<p>Première partie de soirée à l'ECN. Cocktail classe pour lancer les hostilités, remercier les gens qui nous donnent des sous et nous supportent. 
					<br/>Deuxième partie de soirée : pèlerinage à Nantes avec Vestiaire, remplaçant Gargouille, Remorqueur et Crevettes.</p>
				</td>

				<td rowspan="3" class="textBlock" ng-show="showSub['vendredi']" id="vendredi">
					<h3>Le vendredi</h3>
					<p>Les fanfares nantaises, la Fanfrale ainsi que les fanfares composées d'anciens de la Fanfrale jouent dans les rues de Nantes.
					<br/>Vendredi soir : soirée dans un bar avec ces fanfares. Au programme, buffet et bœuf (vous pourrez aussi jouer de la musique).</p>
				</td>

				<td rowspan="3" class="textBlock" ng-show="showSub['weekend']" id="weekend">
					<h3>Le week-end</h3>
					<p>Samedi midi : accueil de toutes les fanfares invitées sur le terrain, distribution de goodies, repas.
					<br/>Samedi soir : grand repas assis, mongolie et autres réjouissances.
					<br/>Dimanche : pour faire passer la barre, on se fait un barbecue ! Les fanfares partent dans l'après-midi.</p>
				</td>
			</tr>
			<tr>
				<td class="oneDay" id="vendrediClick" ng-class="{ active: showSub['vendredi'] }" ng-click="displaySubPage('vendredi')">Vendredi</td>
			</tr>
			<tr>
				<td class="oneDay" id="weekendClick" ng-class="{ active: showSub['weekend'] }" ng-click="displaySubPage('weekend')">Weekend</td>
			</tr>
		</table>
	</div>
</div>