<div class="container">
	<h1>Les 17 ans de la Fanfrale</h1>
	<div class="caPart">
		Ca part dans {{ ca_part }} minutes !!
	</div>

	<div class="newsPost">
		<h3>Bonjour à tous,</h3>
		<p>comme vous le savez peut-être, la Fanfrale fêtera ses 17 ans l'année prochaine. Événement très attendu par bon nombre de fanfarons, il sera l'occasion de réunir un maximum de générations, de participer à un pèlerinage des lieux sacrés de Nantes (un petit tour de bateau ?), de montrer aux autres ce qu'on appelle la mongolie et surtout de célébrer en grandes pompes ce 17ième anniversaire. Le projet commence à se mettre en place, voici les premiers éléments d'organisation, en espérant faire monter la fébrilité !</p>
		<p>Pour toute question, n'hésitez pas <a href="mailto:17ansfanfrale@gmail.com">à nous écrire</a>.</p>
	</div>

	<div class="newsPost">
		<h3>Où et quand ?</h3>
		<p>Les 17 ans auront lieu sur un week-end prolongé, du jeudi 7 mai au soir au dimanche 10 mai fin d'après-midi (2015). L'objectif est de proposer un week-end mémorable à la fois pour les plus vieux, pour les jeunes et pour les autres fanfares. La première partie du week-end (jeudi et vendredi) se déroulera à Nantes même.
		<br/>Les événements du samedi et dimanche se dérouleront à l'extérieur de Nantes sur un grand terrain avec des installations en dur : le Clos de Soucelles.</p>
	</div>

	<div class="newsPost">
		<h3>Les stands</h3>
		<p>L'un des éléments majeurs pour le déroulement du samedi et dimanche sera la présence de plusieurs installations/stands/bars tenus par des personnes de la Fanfrale. Chacun de ces stands aura un thème et sera porté par des gens de même promo ou un groupe ayant envie de partager la même mongolie. Ils proposeront des activités autour d'un leit-motiv du temps où ils étaient à la Fanfrale, tout en servant le breuvage de leur choix. Un appel à projets permettra de solliciter un maximum de fanfarons et de sélectionner les plus bêtes, tout en couvrant les différentes époques.</p>
	</div>

	<div class="newsPost">
		<h3>Qu'est-ce qu'on fait pendant 4 jours ?</h3>
		<p>
			<ul>
				<li><strong>Jeudi soir :</strong>Première partie de soirée à l'ECN. Cocktail classe pour lancer les hostilités, remercier les gens qui nous donnent des sous et nous supportent. Deuxième partie de soirée : pèlerinage à Nantes avec Vestiaire, remplaçant Gargouille, Remorqueur et Crevettes.</li>
				<li><strong>Vendredi après-midi :</strong>Les fanfares nantaises, la Fanfrale ainsi que les fanfares composées d'anciens de la Fanfrale jouent dans les rues de Nantes.</li>
				<li><strong>Vendredi soir :</strong>Soirée dans un bar avec ces fanfares. Au programme, buffet et bœuf (vous pourrez aussi jouer de la musique).</li>
				<li><strong>Samedi midi :</strong>Accueil de toutes les fanfares invitées sur le terrain, distribution de goodies, repas.</li>
				<li><strong>Samedi après-midi :</strong>Lancement des stands à thème (cf. encadré plus haut).</li>
				<li><strong>Samedi soir :</strong>Grand repas assis.</li>
				<li><strong>Dimanche midi :</strong>Gros barbecue.</li>
				<li><strong>Dimanche fin d'après-midi :</strong>Départ des fanfares.</li>
			</ul>
		</p>
	</div>
</div>