<div class="container">
	<h1>Les 17 ans de la Fanfrale</h1>
	<div class="caPart">
		Ca part dans {{ ca_part }} minutes !!
	</div>

	<div class="textBlock">
		<h3>Bonjour à tous,</h3>
		<p>Comme tu le sais, la Fanfrale fêtera ses 17 ans l'année prochaine. Événement très attendu par bon nombre de fanfarons, il sera l'occasion de réunir un maximum de générations, de participer à un pèlerinage des lieux sacrés de Nantes (un petit tour de bateau ?), de montrer aux autres ce qu'on appelle la mongolie et surtout de célébrer en grandes pompes ce 17ème anniversaire. Le projet commence à se mettre en place, voici les premiers éléments d'organisation, en espérant faire monter la fébrilité !</p>
		<p>Pour toute question, n'hésite pas <a href="mailto:17ansfanfrale@gmail.com">à nous écrire</a>.</p>
	</div>

	<div class="textBlock">
		<h3>Où et quand ?</h3>
		<p>Les 17 ans auront lieu sur un week-end prolongé, du <span class="important">jeudi 7 mai 2015</span> au soir au <span class="important">dimanche 10 mai 2015</span> fin d'après-midi. L'objectif est de proposer un week-end mémorable à la fois pour les plus vieux, pour les jeunes et pour les autres fanfares. La première partie du week-end (jeudi et vendredi) se déroulera à Nantes même.
		<br/>Les événements du samedi et dimanche se dérouleront à l'extérieur de Nantes sur un grand terrain avec des installations en dur : <span class="important">le Clos de Soucelles</span>.</p>
	</div>

	<div class="textBlock">
		<h3 style="color: orange">Comment puis-je participer ?</h3>
		<p>La Fanfrale t'a nourri(e), bercé(e) et aujourd'hui tu voudrais lui faire savoir ta gratitude, mais tu n'as pas beaucoup de temps à lui consacrer car tu dois te rendre à Aubenas. Ne t'en fais pas, nous avons pensé à toi : tu peux participer au financement de ce week-end inoubliable, et en profiter pour recevoir des goodies ! Choisis ton pack de mécène, fais un chèque de beaucoup d'argent et c'est parti !</p>

		<p class="file"><a href="../../../17/app/resources/packs.pdf" target="_blank" title="Packs de participation">Télécharge le descriptif des packs de participation</a></p>

		<p>Si tu as toujours rêvé d'avoir une flasque gravée à ton nom, de posséder une mallette, ou d'être accueilli(e) avec une bouteille de champagne et une pipe à l'anniversaire de la Fanfrale, n'hésite pas !</p>
		<p>Pour connaître les modalités de paiement possibles, contacte le <a href="mailto:17ansfanfrale@gmail.com">staff dictature-17</a>.</p>
	</div>

	<div id="daysDetail">
		<div class="buttonGroup">
			<div class="oneDay" ng-class="{ active: showSub['jeudi'] }" ng-click="displaySubPage('jeudi')">Jeudi</div>
			<div class="oneDay" ng-class="{ active: showSub['vendredi'] }" ng-click="displaySubPage('vendredi')">Vendredi</div>
			<div class="oneDay" ng-class="{ active: showSub['weekend'] }" ng-click="displaySubPage('weekend')">Week-end</div>
		</div>
	</div>

	<div class="textBlock" ng-show="showSub['jeudi']" id="jeudi">
		<h2>Le jeudi</h2>
		<p>Première partie de soirée à l'ECN. Cocktail classe pour lancer les hostilités, remercier les gens qui nous donnent des sous et nous supportent. 
		<br/>Deuxième partie de soirée : pèlerinage à Nantes avec Vestiaire, remplaçant Gargouille, Remorqueur et Crevettes.</p>
	</div>

	<div class="textBlock" ng-show="showSub['vendredi']" id="vendredi">
		<h2>Le vendredi</h2>
		<p>Les fanfares nantaises, la Fanfrale ainsi que les fanfares composées d'anciens de la Fanfrale jouent dans les rues de Nantes.
		<br/>Vendredi soir : soirée dans un bar avec ces fanfares. Au programme, buffet et bœuf (vous pourrez aussi jouer de la musique).</p>
	</div>

	<div class="textBlock" ng-show="showSub['weekend']" id="weekend">
		<h2>Le week-end</h2>
		<p>Samedi midi : accueil de toutes les fanfares invitées sur le terrain, distribution de goodies, repas.</p>
		<p>Samedi soir : grand repas assis, mongolie et autres réjouissances.</p>
		<p>Dimanche : pour faire passer la barre, on se fait un barbecue ! Les fanfares partent dans l'après-midi.</p>
	</div>
</div>